<!DOCTYPE html>
<html>
<<<<<<< HEAD
 <head>
  
  <title>Auth</title>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js","application.js" %>
  
  <%= csrf_meta_tags %>

 </head>

<body>

<%= yield %>
=======
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
>>>>>>> 8067ff792f069941325833808a1109abc4b52de1
</html>
